<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <servlet>
    <description></description>
    <display-name>index_controller</display-name>
    <servlet-name>index_controller</servlet-name>
    <servlet-class>index_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index_controller</servlet-name>
    <url-pattern>/index_controller</url-pattern>
  </servlet-mapping>
  <display-name>secommerce1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>log_controller</display-name>
    <servlet-name>log_controller</servlet-name>
    <servlet-class>log_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log_controller</servlet-name>
    <url-pattern>/log_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subcontroller</display-name>
    <servlet-name>Subcontroller</servlet-name>
    <servlet-class>Subcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subcontroller</servlet-name>
    <url-pattern>/Subcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>product_controller</display-name>
    <servlet-name>product_controller</servlet-name>
    <servlet-class>product_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product_controller</servlet-name>
    <url-pattern>/product_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout_controller</display-name>
    <servlet-name>logout_controller</servlet-name>
    <servlet-class>logout_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout_controller</servlet-name>
    <url-pattern>/logout_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgot_controller</display-name>
    <servlet-name>forgot_controller</servlet-name>
    <servlet-class>forgot_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgot_controller</servlet-name>
    <url-pattern>/forgot_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validateotp1</display-name>
    <servlet-name>validateotp1</servlet-name>
    <servlet-class>validateotp1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateotp1</servlet-name>
    <url-pattern>/validateotp1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newpassword1</display-name>
    <servlet-name>newpassword1</servlet-name>
    <servlet-class>newpassword1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newpassword1</servlet-name>
    <url-pattern>/newpassword1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>qfsdf</display-name>
    <servlet-name>qfsdf</servlet-name>
    <servlet-class>qfsdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qfsdf</servlet-name>
    <url-pattern>/qfsdf</url-pattern>
  </servlet-mapping>
</web-app>